* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    min-height: 100vh; /* Asegura que el body ocupe al menos el 100% de la altura de la ventana */
}

header {
    background: #1C1C1C;
    color: whitesmoke; /* Texto blanco */
    text-align: center; /* Alinea el texto al centro */
    font-size: large;
    padding: 20px;
}

.divider {
    margin: 5px 0 5px;
    width: auto;
    height: 5px;
    background: #1C1C1C;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    flex-direction: column;
    padding: 10px;
}

nav h1 {
    color: #1C1C1C;
    font-size: 50px;
    margin: auto;
}

/* Estilo para los enlaces de la navegación */
nav a {
    color: #1C1C1C; /* Color de texto blanco */
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px; /* Relleno interno de los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    margin: 10px 10px; /* Espacio entre los enlaces */
    background: #FFE91F;
    border-radius: 5px;
}

/* Cambia el fondo del enlace cuando se pasa el cursor por encima */
nav a:hover {
    background-color: #148623;
    color: aliceblue;
}

section {
    flex-grow: 1; /* Permite que la sección principal crezca para llenar el espacio */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-img {
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center; /* Centra las imágenes verticalmente */
    padding: 10px;
    margin: 0 auto;
    flex-direction: row; /* Cambiar a fila */
}

.container-img img {
    max-width: 80%; /* Se adapta al ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    width: 500px; /* O puedes especificar un ancho fijo aquí */
    border-radius: 10px;
}

.btn-contacto {
    display: block;
    width: 250px;
    margin: 20px auto;
    text-align: center;
    background-color: #230980;
    color: rgb(248, 21, 5);
    padding: 15px;
    text-decoration: none;
    border-radius: 8px;
}

.btn {
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

/* Botones de redes sociales */
.social-buttons {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    padding: 10px; /* Espaciado dentro del contenedor */
    background: rgb(94, 92, 92); /* Fondo de los botones */
    margin: 0; /* Elimina márgenes para que esté justo arriba del footer */
}

.btn-facebook {background-color: #1C1C1C; /* Color de Facebook */}
.btn-twitter {background-color: #1C1C1C; /* Color de Twitter */}
.btn-instagram {background-color: #1C1C1C; /* Color de Instagram */}
.btn-youtube {background-color: #1C1C1C; /* Color de YouTube */}
.btn i {margin-right: 8px; /* Espacio entre el ícono y el texto */}

.btn-facebook:hover {background-color: #3b5998;}
.btn-twitter:hover {background-color: #1da1f2;}
.btn-instagram:hover {background-color: #e1306c;}
.btn-youtube:hover {background-color: #ff0000;}

.container {
    display: flex;
    background: rgb(94, 92, 92);
    color: #FFFFFF;
    border-radius: 20px;
    width: 95%;
    max-width: 1000px;
    margin: 10px auto; /* Centra el contenido horizontalmente */
    padding: 20px; /* Relleno interno */
    flex-direction: column;
}

.container-about {
    display: flex;
    background: #1C1C1C;
    color: #FFFFFF;
    border-radius: 20px;
    width: 95%;
    max-width: 1000px;
    margin: 10px auto;
    padding: 30px;
    flex-direction: column;
}

.container-about h1 {
    font-size: 60px;
}

.container-about h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.container-about p {
    margin-bottom: 10px;
    font-size: 20px;
}

.container-about ul {
    margin-bottom: 10px
}

.container-about li {
    margin-left: 30px;
}

.divider-about {
    margin: 10px;
    width: 30px;
    height: 5px;
    background: #FFE91F;
    border-color: #FFE91F;
    border-radius: 3px;
}

.form-section {
    background-color: lemonchiffon; /* Fondo blanco */
    padding: 20px; /* Relleno interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.form {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
}

form label {
    margin-bottom: 5px;
    font-weight: bold; /* Añade negrita a las etiquetas */
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
}

form button {
    align-self: center; /* Centra el botón */
    width: 100%; /* Botón ocupa todo el ancho del formulario */
    max-width: 200px; /* Ancho máximo del botón */
    padding: 10px;
    background-color: #1C1C1C; /* Color del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

form button:hover {
    background-color: #148623; /* Color al pasar el ratón */
}

.container h2 {
    text-align  : center;
}

footer {
    background-color: #1C1C1C;
    color: #FFFFFF;
    text-align: center;
    padding: 5px; /* Espaciado superior e inferior */
    margin-top: auto;
}